.board {
  width: 480px;
  height: 480px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
}

.white {

}

.black {
  background-color: black;
  color: white;
}
